@inherits LayoutComponentBase

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Classic Games</a>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/tictactoe">Tic Tac Toe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hangman">Hangman</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rockpaperscissors">Rock Paper Scissors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @Body
    </div>
</div>
